@import url(//at.alicdn.com/t/c/font_3633514_el8idbtd9tk.css);

/* 公用样式 */

body{
    background: url(../img/bg.png) no-repeat fixed;
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif!important ;
}

.left{
    width:260px;
    margin-right: 20px;
    margin-left: 200px;
    float: left;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.center-item{
    background-color: #121212;
    border-radius: 5em;
    opacity: 0.8;
    width: 850px;
    height: 300px;
    margin-bottom: 30px;
    padding-left: 30px;
    color: #fff;
}

/* 公用样式结束 */

/* 首页头部 */
.header{
    width: 100%;
    height: 50px;
    background-color: #121212;
    opacity: 0.8;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    min-width: 1500px;
    margin-bottom: 70px;
}

.header span{
    display: block;
    text-align: center;
    font-size: 25px;
    color: #999;
    line-height: 50px;
    height: 50px;
}

/* 首页头部结束 */

/* 主区域左侧个人介绍 */

.main .PersonalProfile{
    border-radius:20px ;
    background-color: #121212;
    opacity: 0.8;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main .PersonalProfile .img{
    margin-top: 30px;
}

.main .PersonalProfile .img img{
    width: 225px;
    height: 150px;
    padding-left: 17.5px;
}

.main .PersonalProfile .content{
    margin-bottom: 30px;
}

.main .PersonalProfile .content ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 17.5px;
}

.main .PersonalProfile .content ul li span{
    font-size: 18px;
    text-align: center;
    color: #999;
}

/* 主区域左侧个人介绍结束 */



/* 中间主区域 */

.main .center{
    margin-left: 500px;
    align-items: center;
    overflow: hidden;
}

.main .center .introduce .topic{
    padding-top: 110px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main .center .introduce .date{
    margin-bottom: 10px;
}


.main .center .dream .words{
    padding-top: 100px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 20px;
}


/* 主区域轮播图 */

.main .center .Slideshow{
    height: 500px;
    overflow: hidden;
}

.main .center .Slideshow .img{
    overflow: hidden;
    width: 500px;
    height: 400px;
    margin: 45px 170px;
    position: relative;
}

.main .center .Slideshow .img ul{
    width: 3500px;
    height: 400px;
    list-style: none;
    list-style: none;
}

.main .center .Slideshow .img ul li{
    float: left;
}

.main .center .Slideshow .img ul li img{
    width: 500px;
    height: 400px;
}

.main .center .Slideshow .img  .PreBtn{
    position: absolute;
    font-size: 3em;
    top:180px;
    left: 10px;
    cursor: pointer;
    color: #fff;
}

.main .center .Slideshow .img  .NextBtn{
    position: absolute;
    font-size: 3em;
    top:180px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}

.main .center .Slideshow .img .select {
    position: absolute;
    bottom: -360px;
    left: 150px;
}

.main .center .Slideshow .img .select li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #666;
    line-height: 30px;
    text-align: center;
    color: #fff;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}

/* todo list */

.main .center .todo-list .list{
    padding-top: 20px;
    margin-bottom: 10px;
}

.main .center .todo-list .list span{
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.main .center .todo-list .list ul li{
    display: block;
    font-size: 20px;
    padding-left: 30px;
}

.main .center .todo-list .list ul li::before{
    content: "----  ";
}
