@import url(//at.alicdn.com/t/c/font_3633514_ryo0qtdg23k.css);

/* 公用样式 */

body{
    background: url(../img/bg.png) no-repeat fixed;
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif!important ;
}

.aside-left{
    width:260px;
    margin-right: 20px;
    margin-left: 200px;
    float: left;
}

.left-item{
    background-color: #121212;
    opacity: 0.8;
    margin-bottom: 30px;
    border-radius:20px ;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.main .center{
    margin-left: 500px;
    align-items: center;
}

.center-item{
    background-color: #121212;
    border-radius: 5em;
    opacity: 0.8;
    width: 850px;
    height: 300px;
    margin-bottom: 30px;
    padding-left: 30px;
    color: #fff;
}

/* 公用样式结束 */

/* 首页头部 */
.header{
    width: 100%;
    height: 50px;
    background-color: #121212;
    opacity: 0.8;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    min-width: 1500px;
    margin-bottom: 70px;
    position: relative;
}

.header span{
    display: block;
    text-align: center;
    font-size: 25px;
    color: #999;
    line-height: 50px;
    height: 50px;
    position: absolute;
}

.header .top .TopItem1{
    left: 25px;
}

.header .top .TopItem2{
    right: 100px;
    cursor: pointer;
}

.header .top .TopItem3{
    right: 10px;
    cursor: pointer;
}
/* 首页头部结束 */

/* 主区域左侧个人介绍 */

.main .aside-left .PersonalProfile{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main .aside-left .PersonalProfile .img{
    margin-top: 30px;
}

.main .aside-left .PersonalProfile .img img{
    width: 225px;
    height: 150px;
    padding-left: 17.5px;
}

.main .aside-left .PersonalProfile .content{
    margin-bottom: 30px;
}

.main .aside-left .PersonalProfile .content ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 17.5px;
}

.main .aside-left .PersonalProfile .content ul li span{
    font-size: 18px;
    text-align: center;
    color: #999;
}

/* 主区域左侧个人介绍结束 */


/* 主区域左侧学习记录 */

.main .aside-left .Studyshow{
    overflow: hidden;
    position: relative;
}

.main .aside-left .Studyshow .Studyshowhead{
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.main .aside-left .Studyshow .Studyshowhead .icon-paixu{
    position: absolute;
    font-size: 1.1em;
    color: #fff;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.main .aside-left .Studyshow .StudyshowPassage{
    max-height: 300px;
    overflow: auto;
}

.main .aside-left .Studyshow .StudyshowPassage .icon-piliangshanchu{
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}


.main .aside-left .Studyshow .StudyshowPassage .StudyshowPassageItem{
    height: 30px;
    border-radius: 5px;
    font-size: 17px;
    line-height: 30px;
    color: #fff;
    padding-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.main .aside-left .Studyshow .StudyshowPassage .StudyshowPassageItem .icon-shanchu{
    font-size: 20px;
    color: #fff;
    float: right;
    margin-right: 5px;
}

.main .aside-left .Studyshow .StudyshowPassage .StudyshowPassageItem .StudyshowPassageObjDel{
    border-radius: 50%;
    float: right;
    margin-right: 5px;
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    margin-top: 7px;
}

.main .aside-left .Studyshow .StudyshowPassage .StudyshowPassageItem::before{
    content: "●";
    padding-right: 5px;
}

#StudyshowSubmit{
    position: relative;
    bottom: -18px;
    padding-left: 5px;
    width: 250px;
    height: 380px;
    outline: none;
}

#StudyshowSubmit .StudyshowSubmitTopic{
    padding-left: 5px;
    width: 250px;
    height: 20px;
    border-radius: 5px;
    font-size: 15px;
    line-height: 20px;
    box-sizing: border-box;
    border: 1px solid #fff;
    margin-bottom: 3px;
}

#StudyshowSubmit .StudyshowSubmitContent{
    padding-left: 5px;
    width: 250px;
    height: 300px;
    overflow: auto;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.StudyshowPassageArea{
    background-color: #121212;
    border-radius: 5em;
    opacity: 0.8;
    width: 850px;
    height: 900px;
    margin-bottom: 30px;
    padding-left: 30px;
    color: #fff;
    position: relative;
}

.StudyshowPassageTopic{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
    line-height: 60px;
    font-size: 3em;
    color: #fff;
    width: 850px;
    text-align: center;
}

.StudyshowPassageContent{
    height: 750px;
    line-height: 35px;
    font-size: 1.5em;
    color: #fff;
}

.StudyshowPassageHomeBtn{
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 10px;
    left: 335px;
    background-color: #b31e1a;
    color: #fff;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.StudyshowPassageDelBtn{
    position: absolute;
    width: 100px;
    height: 40px;
    bottom: 10px;
    right: 335px;
    background-color: #b31e1a;
    color: #fff;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#StudyshowSubmit .StudyshowSubmitBtn{
    width: 100px;
    margin-left: 80px;
    margin-top: 3px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

/* 主区域左侧学习记录结束 */


/* 中间主区域 */


.main .center .introduce .topic{
    padding-top: 110px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.main .center .introduce .date{
    margin-bottom: 10px;
}


.main .center .dream .words{
    padding-top: 100px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 20px;
}


/* 主区域轮播图 */

.main .center .Slideshow{
    height: 500px;
    overflow: hidden;
}

.main .center .Slideshow .img{
    overflow: hidden;
    width: 500px;
    height: 400px;
    margin: 45px 170px;
    position: relative;
}

.main .center .Slideshow .img ul{
    width: 3500px;
    height: 400px;
    list-style: none;
    list-style: none;
}

.main .center .Slideshow .img ul li{
    float: left;
}

.main .center .Slideshow .img ul li img{
    width: 500px;
    height: 400px;
}

.main .center .Slideshow .img  .PreBtn{
    position: absolute;
    font-size: 3em;
    top:180px;
    left: 10px;
    cursor: pointer;
    color: #fff;
}

.main .center .Slideshow .img  .NextBtn{
    position: absolute;
    font-size: 3em;
    top:180px;
    right: 10px;
    cursor: pointer;
    color: #fff;
}

.main .center .Slideshow .img .select {
    position: absolute;
    bottom: -360px;
    left: 150px;
}

.main .center .Slideshow .img .select li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #666;
    line-height: 30px;
    text-align: center;
    color: #fff;
    float: left;
    margin-left: 5px;
    cursor: pointer;
}

/* todo list */

.main .center .todo-list .list{
    padding-top: 20px;
    margin-bottom: 10px;
}

.main .center .todo-list .list span{
    display: block;
    text-align: center;
    font-size: 1.5em;
}

.main .center .todo-list .list ul li{
    display: block;
    font-size: 20px;
    padding-left: 30px;
}

.main .center .todo-list .list ul li::before{
    content: "----  ";
}

/* 留言板 */
.LeaveWordsArea{
    margin-left: 500px;
    align-items: center;
    background-color: #121212;
    border-radius: 5em;
    opacity: 0.8;
    width: 850px;
    height: 1000px;
    position: relative;
    color: #fff;
}

.LeaveWordsArea .LeaveWordsTop .title{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 3em;
    color: #fff;
    width: 100%;
    text-align: center;
}

#LeaveWordsSelect{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 200px;
}

#LeaveWordsSelect select{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
}

#LeaveWordsSelect .submit{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

#LeaveWords{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#LeaveWords .content{
    width: 800px;
    margin-left: 7px;
    border-radius: 10px;
    font-size: 15px;
}

#LeaveWords .name{
    width: 150px;
    height: 20px;
    border-radius: 5px;
    background-color: #fff;
}

#LeaveWords select{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
}

#LeaveWords .submit{
    width: 50px;
    height: 25px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.LeaveWordsArea .LeaveWordsMain{
    overflow: auto;
    height: 650px;
}

.LeaveWordsArea .LeaveWordsMain .LeaveWordsBlock{
    width: 100%;
    margin-top: 30px;
}

.LeaveWordsArea .LeaveWordsMain .LeaveWordsBlock .LeaveWordsBlockOwner{
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

.LeaveWordsArea .LeaveWordsMain .LeaveWordsBlock .LeaveWordsBlockTxt{
    font-size: 18px;
    line-height: 22px;
    margin: 10px 25px;
    color: #fff;
}

.LeaveWordsArea .LeaveWordsMain .LeaveWordsBlock .LeaveWordsBlockTxt  .LeaveWordsBlockBtn{
    float: right;
    padding-right: 10px;
    text-decoration: underline;
    color: red;
    cursor: pointer;
}